$color-primary: #f39c12;
$color-secondary: #f1c40f;

$color-gray: #95a5a6;
$color-gray-light: #e0e4e5;
$color-gray-dark: #242b2b;

$color-warning: #FF8800;
$color-warning-dark: #b35f00;

$color-danger: #CC0000;
$color-danger-light: #ef9a9a;
$color-danger-light-2: #ffebee;

$color-success: #007E33;
$color-success-light: #c8e6c9;
$color-success-light-2: #f1f8e9;